/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

body {
 width: 100%;
}

#index {
  height: auto;
}

#index {
  background: #EB3349;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#splash {
  background: url("../assets/img/ingredients.png");
  background-size: cover;
  height: 100vh;
}


.logo-foodmap {
  width: 75%;
}

#first-view {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F45C43, #EB3349);
}

#map {
  height: 50vh;
  width: 100%
}

#container-map {
  background-color: #b10022;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#coninter-searcher {
  /*background: url("../assets/img/ingredients-gray.png") left;*/
  height: 25vh;
}

#name-searcher {
  color: white;
  margin: 1em 0 1em 0;
  border-bottom: 3px solid #EB3349;
}

#searcher {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searcher:focus {
  border: 2px solid #EB3349;

}

#container-logo {
  height: 25vh;
}

#container-logo img{
  width: 100%;
}

#coninter-searcher span img{
  width: 10%;
}

.fa {
  color: white;
  padding-right: 0.3em;
}

#container-info{
  background-color: white;
}

.restaurant-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 0.7em;
  padding: 0.8em 1.2em;
}

.restaurant-name {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

#container-info-restaurants .fa {
  color: #EB3349;
}

.btn-view-more {
  background-color: #ff6c75;
  display: inline;
}

.btn-view {
  background-color: #ff6c75;
  display: inline;
  border-radius: 5px;
  border: none;
  color: white;
  float: right;
  height: 4vh;
  text-align: center;
  text-decoration: none;
}

.modal-content {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
}

.modal-header {
  background: #EB3349;  /* fallback for old browsers */

}

.modal-header {
  width: 100%;
}

iframe {
  display: block;
  width: 100%;
}

#order-now {
  background-color: #ff6c75;
  color: white;
  margin-top: 1em;
  width: 100%;
}

#restaurantModalTitle {
  color: #b10022;
  text-transform: uppercase;
}

.rating-restaurant {
  color: #ff6c75;
  font-weight: bold;
}

.rating {
  color: #ff6c75;
}

.restaurant {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -3em 0 0.5em 0;
  padding-top: 2vh;
  z-index: 100;
}

.close-modal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  padding: 0 7px;
}

.general-data {
  margin-top: 1em;
  padding: 0 1em;
}

#searcher-rating {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin: 0;
  text-decoration: none;
  padding: 0;
  width: 78%;
}


#searcher-rating-text {
  padding-right: 0.5em;
}
