.modal-content {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;
}

.modal-header {
  background: #EB3349;  /* fallback for old browsers */

}

.modal-header {
  width: 100%;
}

iframe {
  display: block;
  width: 100%;
}

#order-now {
  background-color: #ff6c75;
  color: white;
  margin-top: 1em;
  width: 100%;
}

#restaurantModalTitle {
  color: #b10022;
  text-transform: uppercase;
}

.rating-restaurant {
  color: #ff6c75;
  font-weight: bold;
}

.rating {
  color: #ff6c75;
}

.restaurant {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: -3em 0 0.5em 0;
  padding-top: 2vh;
  z-index: 100;
}

.close-modal {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  padding: 0 7px;
}

.general-data {
  margin-top: 1em;
  padding: 0 1em;
}
